<div class="container mt-3">
  <div class="row" style="margin-left: 25%;">
    <div class="row">
      <button id="editButtons" class="btn btn-sm btn-primary " routerLink="/admin/edit-sizes">
        Sizes</button>
      <button id="editButtons" class="btn btn-sm btn-primary " routerLink="/admin/edit-types">
        Types</button>
      <button id="editButtons" class="btn btn-sm btn-primary " routerLink="/admin/edit-brands">
        Brands</button>
      <button id="editButtons" class="btn btn-sm btn-primary " routerLink="/admin/edit-delivery-methods">
        Delivery Methods</button>
    </div>
    <div class="row" style="margin-top: 2%;">
      <button id="editButtons" class="btn btn-sm btn-primary " routerLink="/admin/edit-colors">
        Colors</button>
      <button id="editButtons" class="btn btn-sm btn-primary " routerLink="/admin/edit-fits">
        Fits</button>
      <button id="editButtons" class="btn btn-sm btn-primary " routerLink="/admin/edit-collection">
        Collections</button>
      <button id="editButtons" class="btn btn-sm btn-primary " routerLink="/admin/edit-name">
        Product Names</button>
        <button id="editButtons" class="btn btn-sm btn-primary " routerLink="/admin/edit-cupon">
          Cupons</button>
    </div>

  </div>
  <div class="row" style="margin-top: 1.5%;">
    <section class="col-2">
      <form [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Sort</mat-label>
          <mat-select formControlName="sort" (selectionChange)="onSortSelected($event.value)">
            <mat-option class="list-group-item" *ngFor="let sort of sortOptions" [value]="sort.value">
              {{sort.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" (selectionChange)="onTypeSelected($event.value)">
            <mat-option class="list-group-item" *ngFor="let type of types" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Brand</mat-label>
          <mat-select formControlName="brand" (selectionChange)="onBrandSelected($event.value)">
            <mat-option class="list-group-item" *ngFor="let sort of brands" [value]="sort.id">
              {{sort.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Size</mat-label>
          <mat-select formControlName="size" (selectionChange)="onSizeSelected($event.value)">
            <mat-option class="list-group-item" *ngFor="let sort of sizes" [value]="sort.id">
              {{sort.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Colors</mat-label>
          <mat-select formControlName="color" (selectionChange)="onColorSelected($event.value)">
            <mat-option class="list-group-item" *ngFor="let sort of colors" [value]="sort.id">
              {{sort.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fits</mat-label>
          <mat-select formControlName="fit" (selectionChange)="onFitSelected($event.value)">
            <mat-option class="list-group-item" *ngFor="let sort of fits" [value]="sort.id">
              {{sort.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Collections</mat-label>
          <mat-select formControlName="collection" (selectionChange)="onCollectionSelected($event.value)">
            <mat-option class="list-group-item" *ngFor="let sort of collections"
              [class.active]="sort.id === this.shopParams.collectionId" [value]="sort.id">
              {{sort.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Genders</mat-label>
          <mat-select formControlName="gender" (selectionChange)="onGenderSelected($event.value)">
            <mat-option class="list-group-item" *ngFor="let sort of genders"
              [class.active]="sort.id === this.shopParams.genderId" [value]="sort.id">
              {{sort.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </section>


    <section class="col-10">
      <div class="product-list align-items-center" style="margin-top: 4%;">
        <h3 class="text-center mb-3" style="font-weight:700;font-size: 30px;">Product List</h3>
        <div style="display:flex; flex-direction:row;">
          <div style="flex: 1;">
            <div class="row">
              <div class="col-12">
                <button class="btn btn-sm btn-primary"
                style="width: 180px; height: 45px; border-radius: 5%; margin-left: 4%;" routerLink="/admin/add-product">
                Add product to Store</button>
              </div>
              <div class="col-12" style="margin-left: 80%;">
                <app-paging-header [totalCount]="totalCount" [pageSize]="this.shopParams.pageSize"
                [pageNumber]="this.shopParams.pageNumber"></app-paging-header>
              </div>
            </div>
            
          </div>
          <div style="flex: 1; margin-left: 25%;">
            
            <div>
              <input (keyup.enter)="onSearch()" class="me-2" style="width: 150px; height: 45px; border-radius: 5%;"
                #search placeholder="Search" type="text" id="searchBox">
              <button (click)="onSearch()" class="btn btn-primary my-2 me-2">Search</button>
              <button (click)="onReset()" class="btn btn-success ml-2 my-2">Reset</button>
            </div>
          </div>
        </div>

        <table class="table table-striped" style="margin-top: 4%;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.productName }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.quantity }}</td>
              <td>
                <button (click)="openEditTab(product.productName,product.id)"
                  class="btn btn-sm btn-primary me-2">Edit</button>
                <button (click)="deleteProduct(product.id)" routerLink="/product-management" routerLinkActive="active"
                  class="btn btn-sm btn-danger me-2">Delete</button>
                <button (click)="addDiscount(product.productName,product.id)" routerLinkActive="active"
                  class="btn btn-sm btn-primary me-2">Discount</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
        
        <app-pager [pageSize]="shopParams.pageSize" [totalCount]="totalCount" [pageNumber]="shopParams.pageNumber"
          (pageChanged)="onPageChanged($event)"></app-pager>
      </div>
    </section>

  </div>

</div>