table {
    width: 100%;
    margin-left: 4%;
}

#editButtons {
    width: 150px;
    height: 50px;
    border-radius: 5%;
    margin-left: 2%;
    font-size: medium;
}

#searchBox {
    border-color: aqua;
    border-width: 2.5px;
    height: 30px;
    width: 200px;
}