
<div class="container d-flex justify-content-center align-items-center">
    <section class="col-8" style="margin-top: 5%;">
        <h2 mat-dialog-title>Update Delivery Method</h2>
      <form [formGroup]="nameForm" style="width: 100%;">
        <div class="form-group">
            <label for="shortname">Short Name:</label>
            <input type="text" id="shortname" formControlName="shortname" class="form-control">
            <div *ngIf="nameForm.get('shortname')!.invalid && nameForm.get('shortname')!.touched" class="error-message">
              Name is required.
            </div>
          </div>
          <div class="form-group">
              <label for="deliverytime">Delivery Time:</label>
              <input type="text" id="deliverytime" formControlName="deliverytime" class="form-control">
              <div *ngIf="nameForm.get('deliverytime')!.invalid && nameForm.get('deliverytime')!.touched" class="error-message">
                Delivery time is required .
              </div>
            </div>
          <div class="form-group">
              <label for="description">Description:</label>
              <input type="text" id="description" formControlName="description" class="form-control">
              <div *ngIf="nameForm.get('description')!.invalid && nameForm.get('description')!.touched" class="error-message">
                Description is required.
              </div>
            </div>
          <div class="form-group">
              <label for="price">Price:</label>
              <input type="number" min="0" id="price" formControlName="price" class="form-control">
              <div *ngIf="nameForm.get('price')!.invalid && nameForm.get('price')!.touched" class="error-message">
                Price is required.
              </div>
            </div>

        
        <div class="d-flex justify-content-center">
            <mat-dialog-actions>
                <button mat-button [disabled]="this.nameForm.invalid" [mat-dialog-close]="true" class="update-button" (click)="onSubmit()">Update</button>
                <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
              </mat-dialog-actions>
        </div>
      </form>
    </section>
  </div>
