<div class="container" style="margin-top: 3%;">
    <h2>About Us</h2>
    
    <h3>We're Gymshark</h3>
    <p>We exist to unite the conditioning* community.</p>
    
    <p>It's not our goals that unite us, but the things we do to achieve them. Because although our training grounds and end goals might be different, sweat is our sport. And we're a team of individuals who know that to go further, we go together.</p>
    
    <h3>Our Legacy</h3>
    <p>Our legacy began in 2012, from a garage in Birmingham, UK with nothing but a sewing machine, a screen-printer and ambitions we had no right to hold. Today, we create the tools that help everyone become their personal best: the clothing you'll sweat in, the content you'll find inspiration in, and the community you'll become your best in.</p>
    
    <h3>Our Reach</h3>
    <p>Our Gymshark family of employees, athletes, and followers is now over 10 million strong, with a total social media following of over 18 million and customers in over 230 countries across our 14 online stores. Our employee family is growing too, with over 900 employees across offices in five regions, including Solihull, UK (just outside our hometown) and Denver, Colorado.</p>
    
    <h3>Our Core Values</h3>
    <ul>
      <li>Be human: Being accessible, inclusive, and humble is at Gymshark's heart.</li>
      <li>Give a shit: That means being conscious of the world we live in, caring for those around us, and being proactive to create positive change.</li>
      <li>Do the right thing: Count on us to be honest, trustworthy, and genuine.</li>
      <li>Find the Gymshark way: Refuse to forget the garage mentality that made us: ambitious, agile, disruptive.</li>
      <li>Put family first: Unconditionally.</li>
    </ul>
    
    <p><em>*Conditioning is everything we do today to prepare for tomorrow.</em></p>
  </div>