<div class="container">
<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <img class="thumbnail" src="{{photo.url}}" alt="">
    <div class="text-center">
        <button type="button" [disabled]="photo.isMain" (click)="setMain(photo.id)" class="btn btn-xs btn-primary">Main</button>
        <button type="button" [disabled]="photo.isMain" (click)="deletePhoto(photo.id)" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-4">
    <label class="btn btn-default p-0">
      <input type="file" multiple (change)="selectFiles($event)" />
    </label>
  </div>

  <div class="col-4">
    <button
      class="btn btn-success btn-sm"
      [disabled]="!selectedFiles"
      (click)="uploadFiles()"
    >
      Upload
    </button>
  </div>
</div>

<div *ngFor="let progressInfo of progressInfos" class="mb-2">
  <span>{{ progressInfo.fileName }}</span>
  <div class="progress">
    <div
      class="progress-bar progress-bar-info"
      role="progressbar"
      attr.aria-valuenow="{{ progressInfo.value }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progressInfo.value + '%' }"
    >
      {{ progressInfo.value }}%
    </div>
  </div>
</div>

<div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
  <ul *ngFor="let msg of message; let i = index">
    <li>{{ msg }}</li>
  </ul>
</div>

<div class="card mt-3" style="width: 40%;">
  <div class="card-header">List of Files</div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let file of fileInfos | async;let i = index" class="list-group-item">
      <div class="row">
        <div class="col-9">
          <a>{{ file.name }}</a>
        </div>
        <div class="col-2">
          <button (click)="removeFile(i)" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </li>
  </ul>
</div>


<div class="row" style="align-items: center;">
    <form [formGroup]="productForm" style="width: 65%;">
        <div class="form-group">
          <label for="name">Name:</label>
          <select id="name" (change)="selectName($event.target.value)"  formControlName="name" class="form-control">
            <option [value]="''"></option>
            <option [value]="name.name" *ngFor="let name of names">{{ name.name }}</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="description">Description:</label>
          <textarea id="description" required minlength="12" formControlName="description" class="form-control"></textarea>
        </div>
        <div class="form-group mt-3">
          <label for="price">Price:</label>
          <input type="number" min="1" id="price" formControlName="price" class="form-control">
        </div>
        <div class="form-group mt-3">
          <label for="quantity">Quantity:</label>
          <input type="number" min="1" id="quantity" formControlName="quantity" class="form-control">
        </div>
        <div class="form-group mt-3">
          <label for="brand">Brand:</label>
          <select id="brand" (change)="selectBrand($event.target.value)" formControlName="brand" class="form-control">
            <option [value]="''"></option>
            <option [value]="brand.name" *ngFor="let brand of brands">{{ brand.name }}</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="type">Type:</label>
          <select id="type" (change)="selectType($event.target.value)"  formControlName="type" class="form-control">
            <option [value]="''"></option>
            <option [value]="type.name" *ngFor="let type of types">{{ type.name }}</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="size">Size:</label>
          <select id="size" (change)="selectSize($event.target.value)" formControlName="size" class="form-control">
            <option [value]="''"></option>
            <option [value]="size.name" *ngFor="let size of sizes">{{ size.name }}</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="color">Color:</label>
          <select id="color" (change)="selectColor($event.target.value)" formControlName="color" class="form-control">
            <option [value]="''"></option>
            <option [value]="color.name" *ngFor="let color of colors" >{{ color.name }}</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="fit">Fit:</label>
          <select id="fit" (change)="selectFit($event.target.value)" formControlName="fit" class="form-control">
            <option [value]="''"></option>
            <option [value]="fit.name" *ngFor="let fit of fits">{{ fit.name }}</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="collection">Collection:</label>
          <select id="collection" (change)="selectCollection($event.target.value)" formControlName="collection" class="form-control">
            <option [value]="''"></option>
            <option [value]="coll.name" *ngFor="let coll of collections">{{ coll.name }}</option>
          </select>
        </div>
        <div class="form-group mb-3 mt-3">
          <label for="gender">Gender:</label>
          <select id="gender" (change)="selectGender($event.target.value)" formControlName="gender" class="form-control">
            <option [value]="''"></option>
            <option [value]="gender.name" *ngFor="let gender of genders">{{ gender.name }}</option>
          </select>
        </div>
        <div class="container-button">
          <button type="submit" (click)="onSubmit()" class="center-button btn btn-primary">Submit</button>
        </div>
      </form>
</div>
</div>


