    <div class="image-container">
        <div class="img-home">
            <img class="" src="assets/images/home.jpg" alt="first slide" style="margin-top: 5%;">
        </div>
        
        <div class="overlay">
            <p class="text-overlay">Go and shop for your style</p>
            <div class="column">
                <button class="button-womens" routerLink="/shop/woman" routerLinkActive="active">Womans</button>
                <button class="button-mens" routerLink="/shop/men" routerLinkActive="active" >Mens</button>
            </div>
          </div>
    </div>
