    <div class="image-container">
        <img class="d-flex flex-column flex-md-row align-items-center justify-content-between 
        bg-black border-bottom shadow-sm " src="assets/images/home.jpg" alt="first slide" style="display: block; width: 100%; height: 100%;">
        <div class="overlay">
            <p class="text-overlay">Go and shop for your style</p>
            <div class="column">
                <button class="button-mens" routerLink="/account/login" routerLinkActive="router-link-active" >Mens</button>
                <button class="button-womens" routerLink="/account/login" routerLinkActive="router-link-active">Womens</button>
            </div>
          </div>
    </div>
