<ngx-spinner 
bdColor = "rgba(0, 0, 0, 0.8)" 
size = "medium" 
color = "#fff" 
type = "square-loader" 
[fullScreen] = "true">
<p style="color: white" > Loading... 
</p>
</ngx-spinner>

<!-- Here is the navbar component-->
<body>
  <div>
    <app-nav-bar></app-nav-bar>
  </div>
  
  <!-- The ad text that stays below the nav-bar -->
  <!-- <div>
    <app-ad-section></app-ad-section>
  </div> -->
  
  <!-- The Header where it shows in which page you are with breadcrumbs-->>
  <app-section-header></app-section-header>

  <!-- Loading of the product page-->
    <router-outlet></router-outlet>
  
  <div style="border-top: 2px solid grey ;margin-top: 10%;"></div>
  
  <!-- The footer section is loading here-->
  <app-footer></app-footer>
</body>
