<div class="container mt-2">
    <div *ngIf="(basket$ | async) === null">
        <p style="font-size: 24px;"><strong>No items in the basket</strong></p>
    </div>
    
    <div *ngIf="(basket$ | async) as basket" >
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <app-basket-summary 
                            (decrement)="decrementItemQuantity($event)"
                            (increment)="incrementItemQuantity($event)"
                            (remove)="removeBasketItem($event)"
                            [items]="(basket$ | async)!.items"
                        ></app-basket-summary>
                    </div>
                </div>
                <div style="border-top: 2px solid grey ;margin-top: 1%; margin-bottom: 2%;"></div>
                <div class="row">
                    <div class="col-6 offset-6">
                        <app-order-totals
                            *ngIf="(basketTotals$ | async)"
                            [shippingPrice]="(basketTotals$ | async)!.shipping"
                            [subtotal]="(basketTotals$ | async)!.subtotal"
                            [total]="(basketTotals$ | async)!.total"
                            [discount]="(basketTotals$ | async)!.discount"
                        >
                        </app-order-totals>
                        <div class="container-button">
                            <a routerLink="/checkout" class="center-button btn btn-primary">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

