.size-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .size-item {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #eee;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; /* center content */
    text-align: center; /* center text */
    font-size: 22px;
    font-weight: 700;
  }

  #details {
    padding: 20px;
  }

  .size-item.selected {
    background-color: #614caf;
    color: #fff;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .delivery-section {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10%;

  }
  
  .delivery-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .delivery-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  
  .delivery-item {
    font-size: 20px;
    margin: 10px 0;
  }

  h2, h3, p ,h4 {
    margin: 0;
    padding: 10px;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.2em;
  }

  .original-price {
    text-decoration: line-through;
    color: grey;
    margin-right: 1em;
  }
  
  .discounted-price {
    color: black;
    font-size: 26px;
    font-weight: 800;
  }