<h2>MENS T-SHIRTS & TOPS SIZE GUIDE</h2>
<table>
  <thead>
    <tr>
      <th>SIZE</th>
      <th>CHEST</th>
      <th>WAIST</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XS</td>
      <td>94</td>
      <td>75</td>
    </tr>
    <tr>
      <td>S</td>
      <td>99</td>
      <td>80</td>
    </tr>
    <tr>
      <td>M</td>
      <td>104</td>
      <td>85</td>
    </tr>
    <tr>
      <td>L</td>
      <td>109</td>
      <td>90</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>114</td>
      <td>95</td>
    </tr>
    <tr>
      <td>XXL</td>
      <td>119</td>
      <td>100</td>
    </tr>
  </tbody>
</table>
