<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let order of orders; let i = index">
                        <tr (click)="getOrderLink(order.id)">
                          <th># {{i + 1}}</th>
                          <td>{{order.orderDate | date: 'medium'}}</td>
                          <td>{{order.total | currency}}</td>
                          <td>{{order.status}}</td>
                        </tr>
                    </ng-container>
                  </tbody>

            </table>
        </div>
    </div>
</div>