<div class="card h-100 shadow-sm">
    <div class="image position-relative" style="cursor: pointer;">
        <img src="{{mainPhoto}}" alt="{{product.productName}}" class="img-fluid bg-info" (click)="goTo(product.id)">
            <button id="whishlist" (click)="addItemToWhishlist()" type="button" 
            class="btn position-absolute top-0 end-0 mt-2 me-2 ml-3 bg-white">
                <i class="fa fa-heart fa-lg"></i>
              </button>
        <div class="d-flex align-items-center justify-content-center mt-2">
            <button (click)="addItemToBasket()" type="button" class="button-style me-2"><i class="fa fa-shopping-cart"></i></button>
            <button routerLink="/shop/{{product.id}}" type="button" class="button-style">View</button>
        </div>
    </div>

    <div class="card-body d-flex flex-column">
        <a routerLink="/shop/{{product.id}}">
            <h6 id="productName">{{product.productName}}</h6>
        </a>
        <div class="d-flex align-items-baseline">
            <span class="original-price" *ngIf="discountedPrice">
                {{product.price | currency}}
            </span>
            <span class="discounted-price">
                {{discountedPrice ? (discountedPrice | currency) : (product.price | currency)}}
            </span>
        </div>
        
    </div>
</div>