<div class="container" style="margin-top: 3%;">
    <h2>Welcome to our Frequently Asked Questions (FAQ)</h2>
    <p>Here, you'll find answers to the most common questions our customers have. If your question isn't listed below, please feel free to contact us, and we'll be happy to assist you.</p>
    
    <h3>How can I place an order?</h3>
    <p>To place an order on our website, follow these simple steps:</p>
    <ol>
      <li>Browse through our products and select the items you want.</li>
      <li>Add them to your cart by clicking the "Add to Cart" button.</li>
      <li>Once you have finished selecting your items, proceed to the checkout page.</li>
      <li>Fill in your shipping details and select your preferred payment method.</li>
      <li>Review your order summary and click "Place Order" to complete your purchase.</li>
    </ol>
    
    <h3>What payment methods do you accept?</h3>
    <p>We accept various payment methods, including credit/debit cards, PayPal, and other popular online payment platforms. When checking out, you'll be able to choose the payment method that suits you best.</p>
    
    <h3>How long will it take to receive my order?</h3>
    <p>The delivery time depends on your location and the shipping method you choose during checkout. Typically, orders are processed and shipped within 1-2 business days. Once your order is shipped, you will receive a confirmation email with tracking information. Please note that delivery times may vary due to unforeseen circumstances or during peak seasons.</p>
    
    <h3>What is your return policy?</h3>
    <p>We want you to be completely satisfied with your purchase. If you're not happy with an item, you can return it within 30 days of receiving your order. Please make sure the item is unused, in its original packaging, and with all tags attached. For more detailed information, please refer to our Returns and Exchanges page.</p>
    
    <h3>Do you offer international shipping?</h3>
    <p>Yes, we offer international shipping to many countries. During the checkout process, you can select your country from the list of available destinations. Please note that customs fees, taxes, and import duties may apply, depending on your country's regulations. These additional charges are the responsibility of the customer.</p>
    
    <h3>How can I contact your customer support team?</h3>
    <p>If you have any further questions or need assistance, our friendly customer support team is here to help. You can reach us by visiting the Contact Us page on our website or by sending an email to <a href="mailto:gymshark@gmail.com">gymshark@gmail.com</a>. We strive to respond to all inquiries within 24 hours.</p>
    
    <p>We hope these FAQs have provided you with the information you needed. If you have any other queries or require additional assistance, don't hesitate to reach out. Happy shopping and stay fit!</p>
  </div>