<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
    <strong>Order Summary</strong> 
</div>

<div class="p-4">
    <p class="font-italic mb-4">Shipping costs will be added depending on choices made during checkout</p>
    <ul class="list-unstyled mb-4" >
        <div *ngIf="sumary">
            <li *ngIf="!couponDiscount" class="d-flex justify-content-between py-3 border-bottom">
                <div class="d-flex justify-content-between">
                    <strong class="text-muted">Coupon</strong>
                    <input style="margin-left: 20px;" type="text" [(ngModel)]="coupon" id="coupon" name="coupon" placeholder="Enter your coupon">
                    <button style="margin-left: 5px;" (click)="applyCoupon()" id="apply-coupon" class="btn btn-primary ml-2">Apply</button>
                </div>
            </li>
            <li *ngIf="couponDiscount" class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Discount</strong>
                <strong>{{couponDiscount | currency}}</strong>
            </li>
        </div>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order subtotal</strong>
            <strong>{{subtotal | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping and handling</strong>
            <strong>{{shippingPrice | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total Cost</strong>
            <strong>{{total | currency}}</strong>
        </li>
    </ul>
</div>