.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background-color: green;

    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: orange;
    }

}

.logo {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.fa-heart {
    color: black;
  }

.fa-shopping-cart{
    color: black;
}

.btn
{
    background: #5E5DF0;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 22px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    box-shadow: #5E5DF0 0 10px 20px -10px;

}