table {
    width: 75%;
    margin-left: 25%;
}
  th.actions{
    text-align: right;
  }
  td.actions {
    text-align: right;
  }
  
  .error-message {
    color: red;
  }
  .container-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-button {
    width: 200px; 
    height: 50px; 
  }
